---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

import { getBlogs } from '../library/microcms';
const response = await getBlogs({ fields: ['id', 'slug', 'publishedAt', 'title', 'eyecatch', 'url', 'titleEn'] });

function formatDate(dateString: string): string {
  const date = new Date(dateString);
  const year = date.getFullYear();
  const month = (date.getMonth() + 1).toString().padStart(2, '0');
  const day = date.getDate().toString().padStart(2, '0');
  return `${year} / ${month} / ${day}`;
}
---

<Layout
  title="Roles media | ウェブデザイナー・フロントエンジニア向けメディア"
  discription="HTMLやCSS、JavaScriptをなど日々の勉強の記録を中心に最新の情報を記載"
>
  <div class="mx-auto w-full max-w-[820px] pt-gutter-y">
    <ul class="grid grid-cols-1 gap-x-5 gap-y-10 sm:grid-cols-2 md:grid-cols-3">
      {
        response.contents.map((content: any) => (
          <li>
            <a class="row-span-3 grid grid-rows-subgrid" href={`/media/${content.slug}`}>
              <div class="mb-3" transition:name={content.slug}>
                <Image src={content.eyecatch?.url} alt={content.title} width="1200" height="630" />
              </div>
              <p class="text-sm font-medium text-neutral-500">
                <time data-time={content.publishedAt}>{formatDate(content.publishedAt)}</time>
              </p>
              <h2 class="pt-1 text-base font-medium">{content.title}</h2>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
